%footer
  %p 
    PiP &middot; Programmers in Padua, un&#39;idea di 
    %a{:href => "http://www.fruktarbo.com"} fruktarbo
    %br/
    Organizzato con il supporto del 
    %a{:href => "http://www.collegiomazza.it/"} Collegio Mazza
    che fornisce gli spazi e un rimborso spese per gli ospiti che invitiamo da fuori Padova
  
%script{:src => "javascripts/jquery-1.7.2.min.js"}
%script{:src => "javascripts/bootstrap-tooltip.js"}
:javascript
  $(document).ready(function() {
    $("article.attending img").tooltip();
    })

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20759502-1']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();