%header{:role => "banner"}
  %h1 
    PROGRAMMERS
    %span
      %img{:src => "/images/dexter.png"}
      %span.in
        in
      PADUA
    
%nav
  %div
    %ul
      %li.active
        %a{:href => "#"} 
          %i.icon-calendar 
          Next Meetup
      %li
        %a{:href => "#"} 
          %i.icon-inbox
          Archive
      %li
        %a{:href => "#"} 
          %i.icon-user
          People